::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
 
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
	background-color: $cyprus;
	outline: 1px solid slategrey;
}
html{
	overflow: hidden;
	overflow-y: auto;
}
body{
	overflow-x: hidden;
	color: $cyprus;
	background-color: $dawn-pink;
	font-family: $primary-font;
}
main{
	min-height: 80vh;
	padding-top: 77px;
}
// .container{
// 	max-width: 1135px;
// }
.container{
	max-width: 1500px;
}
@media screen and (max-width: 1920px){
	.container{
		max-width: 1135px;
	}
}
.no__padding{
	padding-left: 0;
	padding-right: 0;
}
section{
	width: 100%;
	float: left;
	overflow: hidden;
}
.dns-{
	&section__title{
		width: 100%;
		float: left;
		margin-bottom: 50px;
		h3{
			font-family: $primary-font;
			margin-bottom: 42px;
			letter-spacing: 0.5px;
		}
		h2{
			margin-bottom: 0;
			font-weight: 700;
		}
		&.margin{
			h2{
				margin-bottom: 45px;
			}
		}
	}
	&page__title{
		width: 100%;
		float: left;
		h1{
			margin-bottom: 18px;
		}
	}
}
.orange__background{
	background-color: $gamboge!important;
	color: $hint-of-red;
	a{
		color: $hint-of-red;
	}
}
.green__background{
	background-color: $cyprus!important;
	color: $hint-of-red;
	a{
		color: $hint-of-red;
	}
}
@include media-breakpoint-down(lg) {
	main{
		padding-top: 62px;
	}
	.dns-{
		&section__title {
			padding: 0 25px;
			h3{
				margin-bottom: 16px;
				font-size: 16px;
			}
			&.margin{
				h2{
					margin-bottom: 33px;
				}
				p{
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}
}