body{
	font-family: $primary-font;
	font-weight: 400;
}
h1{
	font-family: $secondary-font;
	font-size: 48px;
	letter-spacing: 1.5px;
	line-height: 57px;
}
h2{
	font-family: $secondary-font;
	font-size: 48px;
	letter-spacing: 2px;
	line-height: 57px;
}
h3{
	font-family: $secondary-font;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 21px;
}
h4{
	font-family: $secondary-font;
	font-size: 16px;
	line-height: 25px;
}
h5{
	font-size: 14px;
	line-height: 18px;
}
h6{
	font-size: 13px;
	line-height: 20px;
}
p{
	font-size: 15px;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 16px;
}
img{
	width: auto;
	max-width: 100%;
	height: auto;
	display: inline-block;
}
a{
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}
.btn{
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	line-height: 18.5px;
	padding: 8.5px 32.5px 11px;
	border: 1px solid transparent;
	border-radius: 50px;
	text-decoration: none;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	&__primary{
		border-color: $spring-wood;
		color: $ecru-white;
		background-color: $gamboge;
		&:hover{
			color: $gamboge;
			background-color: $spring-wood;
		}
	}
	&__secondary{
		background-color: transparent;
		border-color: $cyprus;
		color: $cyprus!important;
		&:hover{
			background-color: $cyprus;
			color: $ecru-white!important;
		}
	}
	&__white{
		border-color: $spring-wood;
		color: $ecru-white;
		background-color: transparent;
		&:hover{
			color: $cyprus;
			background-color: $spring-wood;
		}
	}
}
@include media-breakpoint-down(lg) {
	h1,
	h2{
		font-size: 25px;
		line-height: 30px;
		letter-spacing: 1px;
	}
	h3{
		font-size: 20px;
		line-height: 25px;
	}
	h4{
		font-size: 13px;
		line-height: 21px;
	}
	p{
		font-size: 15px;
		line-height: 21px;
	}
	.btn{
		font-size: 15px;
		line-height: 23.5px;
		padding: 2px 13px 3px;
	}
}