/*Fonts*/
$primary-font: 'Commissioner', sans-serif;
$secondary-font: 'Bitter', sans-serif;

/*Font-color*/
$cyprus: #0C4936;
$bianca: #FAF7EC;
$tulip-tree: #EAB337;
$hint-of-red: #F5F0EC;
$corn-silk: rgba(255, 246, 218, 0.5);
$gamboge: #DC9C0D;
$ecru-white: #F2EBDF;
$spring-wood: #F5F0EC;

/*Background color*/
$orchid-white: #F1E8D9;
$dawn-pink: #E6DCCD;
$bright-sun: #EAB337;
$quarter-pearl-lusta: #F2EBDF;