.dns-{
	&about__company__section{
		background-color: $dawn-pink;
		padding: 79px 0 50px;
		.dns-section__title{
			margin-bottom: 16px;
			h3{
				font-family: $primary-font;
			}
		}
	}
	&company__block{
		width: 100%;
		float: left;
		border-radius: 30px;
		margin-bottom: 30px;
		background-color: $orchid-white;
		.icon{
			width: 100%;
			height: 245px;
			position: relative;
			img{
				max-width: 100%;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
			}
		}
		.text{
			width: 100%;
			min-height: 165px;
			float: left;
			padding: 0 20px;
			@media screen and (max-width: 1920px){
				min-height: 205px;
			}
		}
		&s__slider{
			width: 100%;
			float: left;
			position: relative;
			.swiper-pagination{
				width: 100%;
				float: left;
				text-align: center;
				bottom: 0;
				line-height: 0;
				&-bullet{
					width: 70px;
					height: 7px;
					display: inline-block;
					background-color: $orchid-white;
					border-radius: 70px;
					margin: 0 7px;
					opacity: 1;
					-webkit-transition: all 0.2s ease;
							transition: all 0.2s ease;
					&-active{
						background-color: $tulip-tree;
					}
				}
			}
			.dns-company__block{
				margin-bottom: 43px;
			}
		}
	}

}
@include media-breakpoint-down(lg) {
	.dns-{
		&about__company__section{
			padding: 26px 0 43px;
		}
		&company__block{
			.icon{
				height: 200px;
				margin-bottom: 8px;
				img{
					max-height: 140px;
				}
			}
			.text{
				min-height: 196px;
				padding: 0 30px;
			}
		}
	}
}