.dns-{
	&blog__{
		&section{
			padding: 46px 0 57px;
		}
		&tags{
			width: 100%;
			float: left;
			margin-bottom: 30px;
			a{
				font-family: $secondary-font;
				font-weight: 700;
				font-size: 18px;
				line-height: 21.5px;
				margin: 0 59px 10px 0;
				display: block;
				float: left;
				text-decoration: none;
				letter-spacing: 0.5px;
				&:hover{
					color: $cyprus;
				}
			}
		}
		&page{
			padding: 23px 0 77px;
			background-color: $dawn-pink;
		}
	}
	&posts__slider{
		padding-bottom: 8px;
		position: relative;
		.swiper-pagination{
			bottom: 0;
			line-height: 0;
			text-align: center;
			&-bullet{
				width: 9px;
				height: 9px;
				display: inline-block;
				opacity: 0.7;
				background-color: $dawn-pink;
				margin: 0 12px!important;
				&-active{
					opacity: 1;
					background-color: $cyprus;
				}
			}
		}
	}
	&tags__nav{
		width: 100%;
		float: left;
		margin: 0 0 29px 0;
		nav{
			width: 100%;
			float: left;
			ul{
				width: 100%;
				float: left;
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					float: left;
					margin-right: 24px;
					a,span{
						display: block;
						font-weight: 700;
						font-size: 18px;
						line-height: 21.5px;
						color: $cyprus;
						padding: 4px 15px 5px;
						border-radius: 30px;
						text-decoration: none;
						// letter-spacing: 0.9px;
						&.active{
							background-color: $tulip-tree;
							color: $ecru-white;
						}
					}

					a:hover,
					span{
						background-color: $tulip-tree;
						color: $ecru-white;
					}
				}
			}
		}
	}
	&post__block{
		width: 100%;
		float: left;
		border-radius: 30px;
		background-color: $ecru-white;
		color: $cyprus!important;
		margin-bottom: 30px;
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
		&:hover{
			background-color: #fff9ee;
			button.btn{
				background-color: $cyprus;
				color: #fff!important;
			}
		}
		&.small{
			margin-bottom: 32px;
			.title{
				min-height: 91px;
				padding: 15.5px 22.5px 5px;
				h3{
					font-size: 16px;
					line-height: 19px;
				}
			}
			.thumbnail{
				height: 243px;
			}
			.details{
				min-height: 68px;
				.tag{
					font-size: 16px;
					&s{
						margin: 9px 0 0;
					}
				}
				.btn{
					top: 16px;
					right: 14px;
					font-size: 14px;
					line-height: 17px;
					padding: 7.5px 17.5px 9.5px;
					text-transform: lowercase;
				}
			}
		}
		.title{
			width: 100%;
			min-height: 103px;
			float: left;
			padding: 17.5px 22.5px 5px;
			h3{
				font-family: $secondary-font;
				font-size: 18px;
				font-weight: 700;
				line-height: 24px;
				letter-spacing: 0.8px;
			}
		}
		.thumbnail{
			width: 100%;
			height: 274px;
			background-size: cover;
			background-position: center;
			float: left;
		}
		.details{
			width: 100%;
			min-height: 76px;
			float: left;
			position: relative;
			padding: 13px 124px 16.5px 22.5px;
			.tag{
				font-weight: 700;
				font-size: 15px;
				line-height: 18.5px;
				margin: 0 5px 5px 0;
				&s{
					width: 100%;
					float: left;
					margin: 15px 0 0;
				}
			}
			.btn{
				min-width: 84px;
				position: absolute;
				right: 22.5px;
				top: 17px;
			}
		}
	}
	&pagination{
		width: 100%;
		float: left;
		margin: 43px 0 0;
		.page-numbers{
			width: 37.5px;
			height: 37.5px;
			display: inline-block;
			font-weight: 700;
			font-size: 16px;
			line-height: 36px;
			color: $cyprus;
			text-decoration: none;
			text-align: center;
			margin: 0 11px;
			border-radius: 50%;
			vertical-align: middle;
			&:hover,
			&.current{
				background-color: $tulip-tree;
				color: $ecru-white;
			}
			&.prev,
			&.next{
				width: 64px;
				height: 46px;
				padding: 0;
				border-radius: 30px;
				-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
				&:hover{
					background-color: transparent;
				}
			}
			&.prev{
				background-image: url('../images/icons/prev-slide-active.svg');
				&:hover{
					background-image: url('../images/icons/prev-slide-hover.svg');
				}
			}
			&.next{
				background-image: url('../images/icons/next-slide-active.svg');
				&:hover{
					background-image: url('../images/icons/next-slide-hover.svg');
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.dns-{
		&blog__{
			&section{
				padding: 30px 25px 31px;
				.dns-section__title{
					padding: 0;
					margin-bottom: 26px;
				}
			}
			&tags{
				margin-bottom: 11px;
				a{
					font-size: 14px;
					line-height: 17px;
					margin: 0 19px 10px 0;
					&:last-child{
						margin: 0 0 10px 0;
					}
				}
			}
			&page{
				padding: 21px 25px 46px;
				overflow: visible;
			}
		}
		&page__title{
			h1{
				margin-bottom: 15px;
			}
		}
		&tags__nav{
			width: auto;
			float: none;
			margin: 0 -36px 19px;
			nav{
				width: auto;
				float: none;
				margin-left: 36px;
				ul{
					width: inherit;
					float: none;
					white-space: nowrap;
					overflow: auto;
					padding-bottom: 10px;
					::-webkit-scrollbar {
						width: 4px;
					}
					li{
						float: none;
						display: inline-block;
						white-space: nowrap;
						margin-right: 0;
						a,span{
							font-size: 15px;
							line-height: 17px;
							padding: 6px 12px 7px;
						}
					}
				}
			}
		}
		&post__block{
			.title{
				min-height: 92px;
				padding: 15px 16.5px;
				h3{
					font-size: 13px;
					line-height: 22px;
					letter-spacing: 0.5px;
				}
			}
			.thumbnail{
				height: 225px;
			}
			.details{
				min-height: 68px;
			    padding: 10px 105px 16.5px 16.5px;
			    .btn{
			    	right: 10px;
			    	top: 19px;
			    }
			}
			&.small{
				margin-bottom: 30px;
				.title{
					min-height: 87px;
					padding: 13.5px 22.5px;
				}
				.thumbnail{
					height: 233px;
				}
				.details{
					min-height: 65px;
					padding: 10px 105px 16.5px 20.5px;
					.tags{
						margin: 11px 0 0;
					}
					.btn{
						top: 14px;
						right: 8px;
						padding: 7px 14px 8px;
						min-width: 75px;
					}
				}
			}
		}
		&pagination{
			margin: 0;
			padding: 59px 0 0;
			position: relative;
			.page-numbers{
				width: 27px;
				height: 27px;
				line-height: 26px;
				font-size: 14px;
				position: relative;
				margin: 0;
				background-position: center;
				background-size: cover;
				&.next{
					position: absolute;
					top: 0;
					right: 55px;
					width: 46px;
					height: 33px;
				}
				&.prev{
					position: absolute;
					top: 0;
					left: 55px;
					width: 46px;
					height: 33px;
				}
			}
		}
	}
}