.dns-{
	&footer{
		width: 100%;
		float: left;
		background-color: $cyprus;
		padding: 82px 0 88px;
		&__title{
			width: 100%;
			float: left;
			h3{
				font-family: $secondary-font;
				font-size: 18px;
				line-height: 21.5px;
				color: $hint-of-red;
				margin-bottom: 35px;
			}
		}
		&__contacts{
			width: 100%;
			float: left;
			margin-bottom: 21px;
			h3{
				font-family: $secondary-font;
				font-size: 18px;
				line-height: 21.5px;
				color: rgba(255, 246, 218, 0.5);
				margin-bottom: 16px;
			}
			a,p{
				color: $bianca;
				text-decoration: none;
				font-size: 15px;
				line-height: 21px;
				-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
			}
			.show__popup{
				margin-bottom: 20px;
			}
			a:hover{
				color: $gamboge;
			}
		}
		&__logo{
			width: 161px;
			display: block;
			margin: 0 0 0 20px;
		}
	}
	&social__block{
		margin-bottom: 89px;
		&.green{
			a{
				&.facebook{
					background-image: url('../images/icons/facebook-green.svg');
					&:hover{
						background-image: url('../images/icons/facebook-hover.svg');
					}
				}
				&.instagram{
					background-image: url('../images/icons/instagram-green.svg');
					&:hover{
						background-image: url('../images/icons/instagram-hover.svg');
					}
				}
			}
		}
		a{
			background-size: cover;
			background-position: center;
			display: block;
			width: 37px;
			height: 37px;
			float: left;
			margin-right: 22.5px;
			&.facebook{
				background-image: url('../images/icons/facebook.svg');
				&:hover{
					background-image: url('../images/icons/facebook-hover.svg');
				}
			}
			&.instagram{
				background-image: url('../images/icons/instagram.svg');
				&:hover{
					background-image: url('../images/icons/instagram-hover.svg');
				}
			}
		}
	}
	&popup{
		position: fixed;
		top: 30%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $dawn-pink;
		z-index: 101;
		padding: 75px 149px 54px;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
		&.show{
			top: 0;
			opacity: 1;
			visibility: visible;
		}
		&__close{
			width: 20.5px;
			height: 20.5px;
			display: block;
			position: absolute;
			cursor: pointer;
			top: 75px;
			right: 164px;
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&:hover{
				opacity: 0.6;
			}
			&::before{
				content: '';
				width: 26px;
				height: 1px;
				display: block;
				background-color: $cyprus;
				position: absolute;
				top: 10px;
				left: -3px;
				-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
			}
			&::after{
				content: '';
				width: 26px;
				height: 1px;
				display: block;
				background-color: $cyprus;
				position: absolute;
				top: 10px;
				left: -3px;
				-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);
			}
		}
		&__body{
			width: 100%;
			height: 100%;
			// height: calc(100% - 120px);
			float: left;
			position: relative;
		}
		&__title{
			width: 100%;
			float: left;
			h3{
				font-size: 18px;
				line-height: 21.5px;
				margin-bottom: 31.5px;
			}
		}
		&__form{
			width: 100%;
			float: left;
			overflow-y: auto;
			position: absolute;
			top: 0;
			bottom: 54px;
			.wpcf7{
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.dns-footer{
		padding: 43px 25px 50px;
		&__title{
			width: 50%;
			h3{
				margin-bottom: 27px;
			}
		}
		&__contacts{
			margin-bottom: 12px;
			h3{
				font-size: 14px;
				letter-spacing: 0.5px;
				margin-bottom: 6px;
			}
			p{
				line-height: 23px;
			}
			.show__popup{
				margin-bottom: 10px;
			}
		}
		.dns-social__block{
			width: auto;
			margin: 10px 0 0;
			a{
				width: 32.5px;
				height: 32.5px;
				margin-right: 
				&:last-child{
					margin-right: 0;
				}
			}
		}
		&__logo{
			width: 128px;
			float: left;
			margin: 10px 0 0 15px;
		}
	}
}
@include media-breakpoint-down(md) {
	.dns-popup{
		padding: 75px 5px 54px;
		&__close{
			top: 21px;
			right: 18px;
		}
	}
}