.form__column{
	width: 50%;
	float: left;
	padding: 0 15px;
}
.field__group{
	width: 100%;
	float: left;
	margin-bottom: 20.5px;
	position: relative;
	&.padding{
		padding: 0 15px;
	}
	label{
		width: 100%;
		float: left;
		span{
			width: 100%;
			float: left;
		}
	}
	.label{
		width: 100%;
		float: left;
		font-size: 15px;
		line-height: 21px;
		color: $cyprus;
		margin-bottom: 7.5px;
		padding: 0 20px;
	}
}
.form__field{
	width: 100%;
	height: 44px;
	float: left;
	background-color: $orchid-white;
	border-radius: 8px;
	border: none;
	padding: 0 20px;
	&:focus{
		box-shadow: none;
		outline: none;
	}
}
.submit__group{
	width: 100%;
	float: left;
	padding: 0 20px;
	text-align: center;
	position: relative;
	margin-top: 31.5px;
	.ajax-loader,
	.wpcf7-spinner{
		display: none;
	}
}
textarea.form__field{
	height: 151px;
	resize: none;
	padding: 10px 20px;
}
.wpcf7-response-output{
	width: 100%;
	float: left;
	margin: 40px 0 0!important;
	padding: 0!important;
	text-align: center;
	border: none!important;
	font-size: 15px;
    line-height: 21px;
}
.wpcf7-not-valid-tip{
	position: absolute;
	bottom: -18px;
	padding: 0 20px;
	font-size: 12px;
	line-height: 15px;
}
@include media-breakpoint-down(lg) {
	.form__column{
		width: 100%;
	}
	textarea.form__field{
		height: 182.5px;
	}
	.submit__group{
		margin-top: 0;
	}
}