.dns-{
	&header{
		width: 100%;
		float: left;
		position: fixed;
		background-color: $orchid-white;
		padding: 18px 0;
		z-index: 100;
	}
	&logo{
		width: 149px;
		display: block;
		&.large{
			width: 158px;
			margin: 0 auto;
		}
		img{
			width: 100%;
			height: auto;
		}
	}
	&main__menu{
		nav{
			width: 100%;
			float: left;
			ul{
				width: 100%;
				float: left;
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					float: left;
					margin-left: 31px;
					a{
						font-weight: 700;
						font-family: $primary-font;
						font-size: 15px;
						line-height: 18px;
						color: $cyprus;
						padding: 10px 0;
						text-decoration: none;
						float: left;
						position: relative;
						&::after{
							content: '';
							width: 0;
							height: 2px;
							opacity: 0;
							background-color: $cyprus;
							display: block;
							position: absolute;
							bottom: 5px;
							left: 50%;
							-webkit-transform: translateX(-50%);
									transform: translateX(-50%);
							-webkit-transition: all 0.2s ease;
									transition: all 0.2s ease;
						}
						&.active,
						&:hover{
							&::after{
								width: 100%;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	&language__switcher{
		margin: 5px 0 0 45px;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				float: left;
				a{
					font-weight: 700;
					font-family: $primary-font;
					font-size: 15px;
					line-height: 18px;
					color: $cyprus;
					text-decoration: none;
					border: 1px solid #0C4936;
					box-sizing: border-box;
					border-radius: 30px;
					padding: 1px 10px 5px;
					&:hover{
						background-color: $cyprus;;
						color: #fff;
					}
				}
			}
		}
	}
	&mobile__btn{
		width: 41px;
		height: 27.5px;
		border-radius: 30px;
		border: 1px solid $cyprus;
		margin: 6px 0 0;
		position: relative;
		span{
			width: 18px;
			height: 1px;
			display: block;
			background-color: $cyprus;
			position: absolute;
			top: 10px;
			left: 50%;
			margin-left: -9px;
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&:nth-child(1){
				top: 9px;
			}
			&:nth-child(2){
				top: 16px;
			}
		}
		&.show{
			span{
				&:nth-child(1){
					top: 13px;
					-webkit-transform: rotate(45deg);
							transform: rotate(45deg);
				}
				&:nth-child(2){
					top: 13px;
					-webkit-transform: rotate(-45deg);
							transform: rotate(-45deg);
				}
			}
		}
	}
	&mobile__{
		&wrapper{
			width: 100%;
			height: calc(100vh - 62px);
			position: fixed;
			z-index: 101;
			top: -200%;
			opacity: 0;
			visibility: hidden;
			padding: 53px 37px;
			background-color: $orchid-white;
			-webkit-transition: all 0.4s ease;
					transition: all 0.4s ease;
			&.show{
				top: 62px;
				opacity: 1;
				visibility: visible;
			}
			.dns-language__switcher{
				width: 100%;
				float: left;
				margin: 34px 0 0;
			}
		}
		&menu{
			width: 100%;
			float: left;
			nav{
				width: 100%;
				float: left;
				ul{
					width: 100%;
					float: left;
					list-style: none;
					padding: 0;
					margin: 0;
					li{
						width: 100%;
						float: left;
						margin-bottom: 22px;
						a{
							font-weight: 700;
							font-size: 15px;
							line-height: 18.5px;
							color: $cyprus;
							text-decoration: none;
							&.active{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.dns-{
		&header{
			padding: 12px 24px;
			height: 62px;
		}
		&logo{
			width: 139px;
			&.large{
				width: 130px;
			}
		}
	}
}