.dns-{
	&hero__section{
		position: relative;
	}
	&hero__slider{
		width: 100%;
		float: left;
		position: relative;
		.swiper-slide{
			height: calc(100vh - 77px);
			background-size: cover;
			background-position: center;
			.content{
				width: 100%;
				float: left;
				color: #fff;
				top: 50%;
				left: 0;
				position: absolute;
				-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
			}
		}
		.swiper-pagination{
			line-height: 0;
			bottom: 143.5px;
			&-bullet{
				width: 9px;
				height: 9px;
				background: rgba(230, 220, 205, 0.7);
				opacity: 1;
				margin: 0 12px!important;
				&-active{
					background: $bright-sun;
				}
			}
		}
	}
	&scroll__icon{
		width: 22px;
		height: 34px;
		position: cursor;
		background-image: url('../images/icons/scroll-icon.svg');
		position: absolute;
		bottom: 63px;
		left: 50%;
		margin-left: -11px;
		z-index: 10;
		cursor: pointer;
		animation: 2s infinite alternate scrolldown;
		// -webkit-transition: all 0.2s ease;
		// 		transition: all 0.2s ease;
	}
}
@keyframes scrolldown {
	from {
	    -webkit-transform: translateY(0);
				transform: translateY(0);
  	}
  	to{
  		-webkit-transform: translateY(20px);
				transform: translateY(20px);
  	}
}
@-webkit-keyframes scrolldown {
	from {
	    -webkit-transform: translateY(0);
				transform: translateY(0);
  	}
  	to{
  		-webkit-transform: translateY(20px);
				transform: translateY(20px);
  	}
}
@include media-breakpoint-down(lg) {
	.dns-hero__{
		&slider{
			.swiper-slide{
				.content{
					padding: 0 25px;
					top: 45%;
				}
			}
			.swiper-pagination{
				bottom: 52px;
			}
		}
		&section{

		}
	}
}