.dns-{
	&our__values{
		&__section{
			position: relative;
		}
		&__block{
			width: 100%;
			float: left;
			position: relative;
			background-color: $quarter-pearl-lusta;
			&.orange__background{
				.content{
					padding: 130px 0 157px;
					h2{
						margin-bottom: 33px;
					}
				}
			}
			&.small__padding{
				.content{
					padding: 113px 0 110px;
					h2{
						margin-bottom: 24px;
					}
				}
			}
			.image{
				position: absolute;
				width: 50%;
				height: 100%;
				background-position: center;
				background-size: cover;
				top: 0;
				&.left{
					left: 0;
				}
				&.right{
					right: 0;
				}
			}
			.content{
				width: 100%;
				float: left;
				padding: 270px 0 237px;
				h3{
					font-family: $primary-font;
					font-weight: 400;
					margin-bottom: 38px;
				}
				h2{
					margin-bottom: 26px;
				}
			}
		}
	}
	&gallery__slider{
		width: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		margin: 40px 0 0;
		img{
			width: 190px;
		}
		.swiper-button-next,
		.swiper-button-prev{
			width: 64px;
			height: 46px;
			margin-top: -23px;
			-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
			&::after{
				display: none;
			}
		}
		.swiper-button-prev{
			left: 25px;
			background-image: url('../images/icons/prev-slide.svg');
			&.swiper-button-disabled{
				background-image: url('../images/icons/prev-slide-disabled.svg');
				opacity: 1;
			}
			&:hover{
				background-image: url('../images/icons/prev-slide-hover.svg');
			}
		}
		.swiper-button-next{
			right: 25px;
			background-image: url('../images/icons/next-slide.svg');
			&.swiper-button-disabled{
				background-image: url('../images/icons/next-slide-disabled.svg');
				opacity: 1;
			}
			&:hover{
				background-image: url('../images/icons/next-slide-hover.svg');
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.dns-our__values__block {
		padding-top: 500px;
		.image{
			width: 100%;
			top: 0;
			left: 0;
			height: 500px;
		}
		.content{
			padding: 49px 25px 53px; 
			h3{
				font-size: 15px;
				line-height: 21px;
				margin-bottom: 42px;
			}
			h2{
				margin-bottom: 43px;
			}
		}
		&.orange__background{
			.content{
				padding: 28px 25px 34px;
				h2{
					margin-bottom: 45px;
				}
			}
		}
		&.small__padding{
			.content{
				padding: 51px 25px 43px;
				h2{
					margin-bottom: 42px;
				}
			}
		}
	}
	.dns-gallery__slider{
		margin: 19px 0 0;
		padding-bottom: 72px;
		img{
			width: 100%;
		}
		.swiper-button-{
			&prev,
			&next{
				top: inherit;
				margin-top: 0;
				bottom: -0;
			}
			&prev{
				left: 30px;
			}
			&next{
				right: 30px;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.dns-our__values__block {
		padding-top: 335px;
		.image{
			height: 335px;
		}
	}
}