.dns-{
	&partner{
		&s__section{
			padding: 80px 0 105px;
			background-color: $dawn-pink;
			.text{
				width: 100%;
				float: left;
				margin-bottom: 70px;
			}
			.dns-social__block{
				margin-left: 30px;
				margin-bottom: 0;
				a{
					width: 45.5px;
					height: 45.5px;
					margin-right: 27.5px;
				}
			}
		}
		&__block{
			width: 100%;
			display: block;
			padding: 0 25px;
			line-height: 90px;
			text-align: center;
			img{
				vertical-align: middle;
				filter: sepia(1);
				opacity: 0.5;
				-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
			}
			&:hover{
				img{
					opacity: 1;
					filter: sepia(0);
				}
			}
		}
		&s__slider{
			width: 100%;
			height: 700px;
			margin-left: auto;
			margin-right: auto;
			.swiper-slide{
				height: calc((100% - 30px) / 5);
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}
			.swiper-pagination{
				width: 100%;
				float: left;
				text-align: center;
				bottom: 0;
				line-height: 0;
				&-bullet{
					width: 70px;
					height: 7px;
					display: inline-block;
					background-color: $orchid-white;
					border-radius: 70px;
					margin: 0 7px;
					opacity: 1;
					-webkit-transition: all 0.2s ease;
							transition: all 0.2s ease;
					&-active{
						background-color: $tulip-tree;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.dns-partners__section{
		padding: 47px 0 35px;
		.dns-section__title{
			margin-bottom: 0;
		}
		.text{
			padding: 0 25px;
			margin-bottom: 0
		}
		.dns-social__block{
			margin-bottom: 27px;
			margin-left: 25px;
			a{
				width: 36px;
				height: 36px;
				margin-right: 12.5px;
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.dns-partner{
		&__block{
			padding: 0 20px;
			line-height: 60px;
			img{
				max-height: 60px;
			}
		}
		&s__section{
			.dns-section__title{
				margin-bottom: 0;
			}
		}
		&s__slider{
			height: 370px;
		}
	}
}