.dns-{
	&products__{
		&section{
			padding: 78px 0 71px;
			background-color: $hint-of-red;
			.dns-section__title{
				margin-bottom: 39px;
			}
		}
		&block{
			width: 100%;
			float: left;
			.categor{
				&ies__row{
					float: left;
					margin: 0 -15px 30px -15px;
					position: relative;
					.show__category{
						width: 13px;
						height: 13px;
						border-bottom: 3px solid $tulip-tree;
						border-right: 3px solid $tulip-tree;
						display: block;
						position: absolute;
						right: 32px;
						top: 10px;
						-webkit-transition: all 0.2s ease;
								transition: all 0.2s ease;
						-webkit-transform: rotate(45deg);
								transform: rotate(45deg);
						&.show{
							-webkit-transform: rotate(225deg);
									transform: rotate(225deg);
						}
					}
				}
				&y__item{
					display: block;
					border-radius: 70px;
					float: left;
					font-weight: 700;
					font-size: 17px;
					line-height: 21px;
					padding: 7.5px 15px 10px;
					cursor: pointer;
					-webkit-transition: all 0.2s ease;
							transition: all 0.2s ease;
					&.active,
					&:hover{
						background-color: $gamboge;
						color: #fff;
					}
				}

			}
			.product{
				&__block{
					width: 100%;
					float: left;
					display: none;
					.description{
						width: 100%;
						float: left;
						padding: 31px 70px 0;
						h3{
							font-family: $secondary-font;
							font-weight: 700;
							letter-spacing: 0.5px;
							margin-bottom: 26px;
						}
					}
					&.active{
						display: block;
					}
				}
				&s{
					width: 100%;
					float: left;
					margin: 40px 0 0;
					&__{
						&block{
							width: 100%;
							float: left;
							position: relative;
							.nav{
								width: 100%;
								float: left;
								margin: 70.5px 0;
								.item{
									width: 100%;
									display: none;
									float: left;
									font-size: 17px;
									line-height: 21px;
									color: rgba(12, 73, 54, 0.4);
									cursor: pointer;
									margin-bottom: 15.5px;
									-webkit-transition: all 0.2s ease;
											transition: all 0.2s ease;
									&.show{
										display: block;
									}
									&.active,
									&:hover{
										color: $cyprus;
									}
								}
								.show__items{
									width: 13px;
									height: 13px;
									border-bottom: 3px solid $cyprus;
									border-right: 3px solid $cyprus;
									display: block;
									position: absolute;
									right: 32px;
									top: 11px;
									-webkit-transition: all 0.2s ease;
											transition: all 0.2s ease;
									-webkit-transform: rotate(45deg);
											transform: rotate(45deg);
									&.show{
										top: 13px;
										-webkit-transform: rotate(225deg);
												transform: rotate(225deg);
									}
								}
								&.visible{
									.item{
										&.show{
											display: block;
										}
									}
								}
							}
						}
						&wrapper{
							width: 100%;
							float: left;
							.culture{
								&s__row{
									width: 100%;
									float: left;
									padding: 14.5px 0 7.5px;
									position: relative;
									z-index: 1;
									&::before{
										content: '';
										display: block;
										position: absolute;
										top: 0;
										bottom: 0;
										left: -500%;
										right: -500%;
										background-color: $orchid-white;
										z-index: -1;
									}
									h3{
										margin-bottom: 0;
										font-size: 17px;
										line-height: 21px;
										padding: 3.5px 0 7px;
									}
									.show__cultures{
										width: 13px;
										height: 13px;
										border-bottom: 3px solid $tulip-tree;
										border-right: 3px solid $tulip-tree;
										display: block;
										position: absolute;
										right: 32px;
										top: 22px;
										-webkit-transition: all 0.2s ease;
												transition: all 0.2s ease;
										-webkit-transform: rotate(45deg);
												transform: rotate(45deg);
										&.show{
											top: 24px;
											-webkit-transform: rotate(225deg);
													transform: rotate(225deg);
										}
									}
								}
								&__item{
									float: left;
									font-size: 17px;
									line-height: 21px;
									display: block;
									padding: 3.5px 22.5px 7px;
									margin-bottom: 5px;
									cursor: pointer;
									border-radius: 70px;
									-webkit-transition: all 0.2s ease;
											transition: all 0.2s ease;
									&.active,
									&:hover{
										background-color: $hint-of-red;
										color: $gamboge;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.dns-products__{
		&section{
			padding: 49px 0;
			.dns-section__title {
				margin-bottom: 33px;
				h3{
					margin-bottom: 41px;
				}
			}
		}
		&block{
			.categor{
				&ies__row{
					width: 100%;
					margin: 0;
					padding: 0 60px 0 25px;
					&.show{
						.category__item{
							display: block;
						}
					}
				}
				&y__item{
					clear: both;
					display: none;
					margin-bottom: 9px;
					&.active{
						display: block;
					}
				}
			}
			.products__wrapper{
				.culture{
					&s__row{
				    	padding: 14.5px 60px 2.5px 25px;
				    	&.show{
				    		.culture__item{
				    			display: block;
				    		}
				    	}
				    }
				    &__item{
				    	display: none;
				    	clear: both;
				    	margin-bottom: 9px;
				    	&.active{
				    		display: block;
				    	}
				    }
				}
			}
			.products{
				padding: 0 20px;
				margin: 50px 0 0;
				&__block{
					.nav{
						padding: 0 60px 0 41px;
						margin: 6px 0;
						.item{
							margin-bottom: 10px;
							&.show{
								display: none;
								&.active{
									display: block;
								}
							}
						}
					}
				}
			}
			.product__block{
				.image{
					h3{
						text-align: center;
						font-size: 18px;
						margin-bottom: 45px;
						letter-spacing: 0;
					}
				}
				.description{
					padding: 43px 6px 0;
				}
			}
		}
	}
}