.dns-{
	&post__banner{
		background-size: cover;
		background-position: center;
		position: relative;
		&.background{
			.content{
				color: $ecru-white;
			}
			&::before{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				background: linear-gradient(360deg, rgba(59, 51, 34, 0.7) 0%, rgba(12, 73, 54, 0) 100%);
			}
		}
		.content{
			width: 100%;
			height: calc(100vh - 79px);
			float: left;
			position: relative;
			z-index: 2;
			.post__title{
				width: 100%;
				float: left;
				top: 60%;
				position: absolute;
				-webkit-transform: translateY(-50%);
						transform: translateY(-50%);
				h1{
					width: 100%;
					float: left;
					margin-bottom: 48px;
				}
				.details{
					width: 100%;
					float: left;
					.tags,
					.date{
						display: inline-block;
						font-family: $secondary-font;
						font-size: 17px;
						font-weight: 700;
						line-height: 20.5px;
						margin: 0 25px;
						.tag{
							margin: 0 10px;
						}
					}
					.tags{
						margin: 0 15px;
					}
				}
			}
			&::after{
				content: '';
				width: 37px;
				height: 71px;
				display: block;
				position: absolute;
				bottom: 42px;
				left: 50%;
				margin: 0 0 0 -18.5px;
				background-image: url('../images/icons/down.svg');
			}
		}
	}
	&blog__nav{
		display: block;
		width: 64px;
		height: 46px;
		border-radius: 30px;
		background-size: cover;
		background-position: center;
		background-image: url('../images/icons/prev-slide-active.svg');
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
		&:hover{
			background-image: url('../images/icons/prev-slide-hover.svg');
		}
	}
	&post__content{
		background-color: $dawn-pink;
		padding: 76px 0;
		.title{
			&.yellow{
				color: $bright-sun;
			}
		}
		h2{
			font-size: 36px;
			line-height: 43px;
		}
		h3{
			font-size: 32px;
			line-height: 38px;
		}
		h4{
			font-size: 25px;
			line-height: 32px;
		}
		p{
			margin-bottom: 21px;
		}
	}
	&related__posts__section{
		padding: 50px 0;
	}
	&text__image__section__half{
		width: 100%;
		float: left;
		margin-bottom: 42px;
		.text{
			width: 100%;
			float: left;
			margin: 5px 0 0;
			.title{
				width: 100%;
				float: left;
				margin-bottom: 46px;
			}
		}
	}
	&image__text__section__half{
		width: 100%;
		float: left;
		margin-bottom: 49px;
		.text{
			width: 100%;
			float: left;
			.title{
				width: 100%;
				float: left;
				margin-bottom: 46px;
			}
		}
		.image{
			.title{
				width: 100%;
				float: left;
				margin-bottom: 70px;
			}
		}
	}
	&full__image{
		width: 100%;
		float: left;
		margin-bottom: 80px;
		img{
			width: 100%;
			height: auto;
		}
	}
	&text__logos__section__quoter{
		width: 100%;
		float: left;
		margin-bottom: 40px;
		.text{
			width: 100%;
			float: left;
			padding-right: 95px;
		}
		.title{
			width: 100%;
			float: left;
			margin-bottom: 22px;
		}
		.image{
			width: 100%;
			float: left;
			img{
				margin-bottom: 8px;
			}
		}
	}
	&text__section{
		width: 100%;
		float: left;
		margin-bottom: 40px;
	}
}
@include media-breakpoint-down(lg) {
	.dns-{
		&blog__nav{
			width: 46px;
			height: 33px;
			position: absolute;
			left: -9px;
			top: 2px;
		}
		&post__banner{
			.content{
				.post__title{
					top: 62%;
					padding: 0 20px;
					h1{
						margin-bottom: 20px;
					}
					.details{
						.tags{
							.tag{
								font-size: 14px;
								line-height: 17px;
							}
						}
						.date{
							font-size: 14px;
							line-height: 17px;
						}
					}
				}
				&::after{
					bottom: 26px;
				}
			}
		}
		&post__content{
			padding: 42px 0;
			h2{
				font-size: 23px;
				line-height: 27.5px;
			}
			h4{
				font-size: 18px;
				line-height: 21px;
				letter-spacing: 0.9px;
			}
		}
		&text__image__section__half{
			margin-bottom: 25px;
			.text{
				padding: 0 25px;
				.title{
					margin-bottom: 27px;
				}
			}
			.image{
				margin-top: 16px;
			}
		}
		&image__text__section__half{
			margin-bottom: 25px;
			.image{
				margin-bottom: 25px;
				.title{
					padding: 0 25px;
					margin-bottom: 15px;
				}
			}
			.text{
				padding: 0 25px;
			}
		}
		&full__image{
			margin-bottom: 33px;
		}
		&text__logos__section__quoter{
			margin-bottom: 5px;
			.text{
				padding: 0 25px;
				margin-bottom: 11px;
			}
			.title{
				margin-bottom: 27px;
			}
			.image{
				img{
					margin-bottom: 29px;
				}
			}
		}
		&text__section{
			margin-bottom: 5px;
			.text{
				padding: 0 25px;
			}
		}
		&related__posts__section{
			padding: 30px 25px 31px;
			.dns-section__title{
				padding: 0;
				margin-bottom: 26px;
			}
		}
	}
}